PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=perriturno
DB_PASSWORD=perriturno123
DB_NAME=perriturno_dev
DB_SSL=false
DB_SYNCHRONIZE=true
DB_LOGGING=false

JWT_SECRET=perriturno-dev-secret
JWT_EXPIRES_IN=7d
